@import "tailwindcss";

/* Amiamie Regular */
@font-face {
  font-family: "Amiamie";
  src: url("/fonts/otf/Amiamie-Regular.otf") format("opentype"),
    url("/fonts/ttf/Amiamie-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Amiamie Regular Italic */
@font-face {
  font-family: "Amiamie";
  src: url("/fonts/otf/Amiamie-Italic.otf") format("opentype"),
    url("/fonts/ttf/Amiamie-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Amiamie Light */
@font-face {
  font-family: "Amiamie";
  src: url("/fonts/otf/Amiamie-Light.otf") format("opentype"),
    url("/fonts/ttf/Amiamie-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Amiamie Light Italic */
@font-face {
  font-family: "Amiamie";
  src: url("/fonts/otf/Amiamie-LightItalic.otf") format("opentype"),
    url("/fonts/ttf/Amiamie-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Amiamie Black */
@font-face {
  font-family: "Amiamie";
  src: url("/fonts/otf/Amiamie-Black.otf") format("opentype"),
    url("/fonts/ttf/Amiamie-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Amiamie Black Italic */
@font-face {
  font-family: "Amiamie";
  src: url("/fonts/otf/Amiamie-BlackItalic.otf") format("opentype"),
    url("/fonts/ttf/Amiamie-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* Amiamie-Round Variants (if needed separately) */
@font-face {
  font-family: "Amiamie-Round";
  src: url("/fonts/otf/Amiamie-RegularRound.otf") format("opentype"),
    url("/fonts/ttf/Amiamie-RegularRound.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Amiamie-Round";
  src: url("/fonts/otf/Amiamie-BlackRound.otf") format("opentype"),
    url("/fonts/ttf/Amiamie-BlackRound.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Amiamie-Round";
  src: url("/fonts/otf/Amiamie-BlackItalicRound.otf") format("opentype"),
    url("/fonts/ttf/Amiamie-BlackItalicRound.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Amiamie-Round";
  src: url("/fonts/otf/Amiamie-BlackItalicRound.otf") format("opentype"),
    url("/fonts/ttf/Amiamie-BlackItalicRound.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* zen-antique-soft-japanese-400-normal */
@font-face {
  font-family: "Zen-Antique-Soft";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(@fontsource/zen-antique-soft/files/zen-antique-soft-japanese-400-normal.woff2)
      format("woff2"),
    url(@fontsource/zen-antique-soft/files/zen-antique-soft-japanese-400-normal.woff)
      format("woff");
}

/* kaushan-script-latin-400-normal */
@font-face {
  font-family: "Kaushan Script";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(@fontsource/kaushan-script/files/kaushan-script-latin-400-normal.woff2)
      format("woff2"),
    url(@fontsource/kaushan-script/files/kaushan-script-latin-400-normal.woff)
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

@theme {
  --color-primary: #e5e5e0;
  --color-DarkLava: #393632;
  --color-SageGray: #8b8b73;
  --color-gold: #cfa355;
  --font-amiamie: "Amiamie", sans-serif;
  --font-amiamie-round: "Amiamie-Round", sans-serif;
  --font-zen-antique-soft: "Zen-Antique-Soft", sans-serif;
  --font-kaushan-script: "Kaushan Script", sans-serif;

  --animate-marquee: marquee 40s infinite linear;
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
}

body {
  background: #e5e5e0;
  color: black;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: var(--font-amiamie);
  user-select: none;
}

@utility clip-path {
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}

 {
  /*
  You can use "leading" class to set line-height.
  For example, "leading-6" sets line-height to 1.5rem.
  
  But it was causing issues with text overflow in some cases.
  So, I have removed it from the utility classes.
*/
}

@utility banner-text-responsive {
  @apply text-4xl sm:text-5xl lg:text-6xl;
}

@utility value-text-responsive {
  @apply text-lg sm:text-xl lg:text-2xl;
}

@utility marquee-text-responsive {
  @apply text-3xl sm:text-4xl lg:text-5xl;
}

@utility service-summary-text-responsive {
  @apply text-4xl sm:text-5xl md:text-6xl lg:text-8xl;
}

@utility contact-text-responsive {
  @apply text-4xl sm:text-5xl md:text-6xl lg:text-7xl;
}

@utility responsive-line {
  @apply h-[2px] md:h-1 min-w-5 sm:min-w-10 md:min-w-18 lg:w-32 lg:min-w-32;
}

@utility work-text-responsive {
  @apply text-2xl sm:text-3xl lg:text-4xl;
}
